{{!-- The global footer at the very bottom of the screen --}}
{{!-- TODO: site footer style --}}
<footer class="site-footer outer">
    <div class="inner">

        <div class="footer-top">
            <div class="footer-left">
                <a href="/">
                    {{#if @site.logo}}
                        <img class="site-logo" src="{{@site.logo}}" alt="{{@site.title}}">
                    {{else}}
                        <h5>{{@site.title}}</h5>
                    {{/if}}
                </a>
                <h5>Find Us</h5>
                {{> "social-media"}}
            </div>
            
            <div class="footer-right">
                {{#if @custom.footer_description}}
                <div class="footer-description">
                    <p>{{@custom.footer_description}}</p>
                </div>
                {{/if}}

                <div class="footer-navbar">
                    <ul>
                        {{!-- <li class="first"><a href="#">About</a></li> --}}
                        <li><a href="/about">About</a></li>
                        <li><a href="/maps">Map</a></li>
                        <li><a href="/research">Research</a></li>
                        {{!-- <li><a href="/policy">Policy</a></li> --}}
                        {{!-- <li><a href="/education">Education</a></li> --}}
                        <li><a href="/events">Events</a></li>
                    </ul>
                </div>

                <div class="footer-cta">
                    {{#if @custom.email_signup_text}}
                        <h5 class="footer-cta-title">{{@custom.email_signup_text}}</h5>
                    {{/if}}
                    <a class="footer-cta-button" href="#/portal" data-portal>
                        <div class="footer-cta-input">Enter your email</div>
                        <span>Subscribe</span>
                    </a>
                </div>
            </div>
        </div>

        <div class="footer-bottom">
            <div class="copyright">
                <a href="{{@site.url}}">Copyright &copy; {{date format="YYYY"}} 
                    {{#if @custom.copyright_text}}
                        {{@custom.copyright_text}}
                    {{else}}
                        {{@site.title}}
                    {{/if}}
                
                </a>  </div>
        </div>
    </div>
</footer>