{{!< default}}

{{!-- The tag above means: insert everything in this file
into the {body} tag of the default.hbs template --}}

<style>
    .index-image-card {
        transition: transform 0.3s ease-out;
        position: relative;
    }
    .index-image-card:hover img {
        filter: brightness(0.5);
        transition: 0.15s ease-out;
    }
    .index-image-card:hover::before {
        opacity: 1;
    }
    .index-image-card h1 {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 2.5rem;
        color: #fff;
        font-weight: bold;
        text-shadow: 2px 2px rgba(0, 0, 0, 0.5);
        opacity: 0.8;
        transition: 0.3s ease-out;
    }
    .index-image-card:hover h1 {
        font-size: 3rem;
        text-shadow: 2px 2px var(--color-theme-blue);
        opacity: 1;
    }

</style>
{{#post}}
{{!-- Everything inside the #post block pulls data from the post --}}

<main id="site-main" class="site-main">
{{> feature-image-to-banner}}
<article class="article {{post_class}} {{#match @custom.post_image_style "Full"}}image-full{{else match @custom.post_image_style "=" "Small"}}image-small{{/match}}">
<section class="gh-content gh-canvas">
    {{content}}
{{/post}}
<div class="row mt-5 gx-5 gy-5"> 
    {{#get "pages" filter="slug:~^'maps-'"  limit="all" }}
    {{#foreach pages}}
        <div class="index-image-card col-sm-12 col-md-6 col-lg-6 mb-6 mb-lg-0">
            {{!-- clickable feature image with title overlayed on it --}}
            <a href="{{url}}" class="d-block">
            <div class="position-relative">
                <img src="
                {{#if feature_image}}
                    {{feature_image}}
                {{else}}
                    {{asset 'image/dummy_image.jpg'}}
                {{/if}}
                "
                 class="index-image rounded" alt="{{title}}">
                 <h1 class="text-white index-title">{{title}}</h1>
            </div>
            </a>
        </div>
    {{/foreach}}
    {{/get}}
</div>
</section>
</article>
</main>