{{!< default}}

{{> "img-navbar"}}
<div class="content-wrapper">

{{!-- The tag above means: insert everything in this file
into the {body} tag of the default.hbs template --}}

<style>
    .read-more-button {
        border: 2px solid #000;
        background-color: white !important;
        color: black !important;
        text-decoration: none !important;
        width: fit-content;
        padding: 0.75rem 1rem;
        font-weight: bold;
        transition: background-color 0.2s ease-out, color 0.2s ease-out;
    }

    .read-more-button:hover {
        background-color: black !important;
        color: white !important;
    }

    .event-card a {
        text-decoration: none;
        color: black;
    }

    .event-card a:hover {
        text-decoration: none;
        color: black;
    }

    .event-card img {
        width: 100%;
        height: auto;
    }

    .event-card img:hover {
        opacity: 0.8;
        transform: scale(1.1);
        transition: all 0.2s ease-out;
    }

</style>

{{#post}}
{{!-- Everything inside the #post block pulls data from the post --}}

<main id="site-main" class="site-main">



<article class="article {{post_class}} {{#match @custom.post_image_style "Full"}}image-full{{else match @custom.post_image_style "=" "Small"}}image-small{{/match}}">
    <header class="article-header gh-canvas">

        <h1 class="article-title">{{title}}</h1>

        {{#if feature_image}}
            <figure class="article-image">
                {{!-- This is a responsive image, it loads different sizes depending on device
                https://medium.freecodecamp.org/a-guide-to-responsive-images-with-ready-to-use-templates-c400bd65c433 --}}
                <img
                    srcset="{{img_url feature_image size="s"}} 300w,
                            {{img_url feature_image size="m"}} 600w,
                            {{img_url feature_image size="l"}} 1000w,
                            {{img_url feature_image size="xl"}} 2000w"
                    sizes="(min-width: 1400px) 1400px, 92vw"
                    src="{{img_url feature_image size="xl"}}"
                    alt="{{#if feature_image_alt}}{{feature_image_alt}}{{else}}{{title}}{{/if}}"
                />
                {{#if feature_image_caption}}
                    <figcaption>{{feature_image_caption}}</figcaption>
                {{/if}}
            </figure>
        {{/if}}

    </header>
    <section class="gh-content gh-canvas">
        {{content}}

        {{#get "posts" filter="slug:~^'event-'" limit="all"}}
            {{#foreach posts}}
                <div class="event-card post-card row gx-5 gy-5">
                    <div class="col-8 col-md-6">
                        <a href="{{url}}">
                        <div style="overflow: hidden">
                        {{#if feature_image}}
                            <img src="{{feature_image}}" alt="{{title}}">
                        {{else}}
                            <img src="{{asset 'image/dummy_image.jpg' }}" alt="{{title}}">
                        {{/if}}  
                        </div>         
                        </a>             
                    </div>
                    
                    <div class="col-12 col-md-6 post-card-excerpt d-flex flex-column justify-content-center">
                        <a href="{{url}}">
                            <h2>{{title}}</h2>
                            <p>{{date}}</p>
                            {{!-- short exceprt (a few words) with a read-more button --}}
                            {{excerpt words="20"}}...
                            
                            <div class="read-more-button-wrapper d-flex">
                                <a class="read-more-button mt-3" href="{{url}}">Read more</a>
                            </div>
                        </a>
                    </div>
                </div>
                <hr>
            {{/foreach}}
        {{/get}}
    </section>


</article>
</main>

{{/post}}

</div>

<script>
    // flip odd number cards (left: img, right: text => right: img, left: text)
    const eventCards = document.querySelectorAll('.event-card');
    eventCards.forEach((card, index) => {
        if (index % 2 === 1) {
            card.classList.add('flex-md-row-reverse');
        }
    });
    const buttonCards = document.querySelectorAll('.read-more-button-wrapper');
    buttonCards.forEach((card, index) => {
        if (index % 2 === 1) {
            card.classList.add('flex-md-row-reverse');
        }
    });
</script>

