{{!< default}}

{{!-- The tag above means: insert everything in this file
into the {body} tag of the default.hbs template --}}


{{#post}}
{{!-- Everything inside the #post block pulls data from the post --}}

<style>
    .read-more-button {
        border: 1px solid #000;
    }
</style>

<main id="site-main" class="site-main">

{{> feature-image-to-banner}}

<article class="article {{post_class}} {{#match @custom.post_image_style "Full"}}image-full{{else match @custom.post_image_style "=" "Small"}}image-small{{/match}}">

    <section class="gh-content gh-canvas">
        {{content}}

        {{#get "posts" filter="slug:~^'event-'" limit="all"}}
            {{#foreach posts}}
                <div class="row gx-5 gy-5">
                    <div class="col-12 col-md-6">
                        {{#if feature_image}}
                            <img src="{{feature_image}}" alt="{{title}}">
                        {{else}}
                            <img src="https://via.placeholder.com/150" alt="{{title}}">
                        {{/if}}                        
                    </div>
                    <div class="col-12 col-md-6 post-card-excerpt d-flex flex-column justify-content-center">
                        <h2>{{title}}</h2>
                        <p>{{date}}</p>
                        {{!-- short exceprt (a few words) with a read-more button --}}
                        {{excerpt words="20" suffix="..."}}...
                        <a class="read-more-button" href="{{url}}">Read more</a>
                    </div>
                </div>
                <hr>
            {{/foreach}}
        {{/get}}
    </section>


</article>
</main>

{{/post}}